body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  background: url(header.jpg) no-repeat center center fixed;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #e2dbdb;
}

hr {
  margin: 20px auto;
  color: #0d6efd;
  border: 2px solid #0d6efd;
  max-width: 65px;
  opacity: 1;  
}

.btn{
  font-weight: 700;
  border-radius: 100px;
  text-transform: uppercase;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary:hover {
  transform: scale(1.1);
}

.buffer {
  height: 5rem;
}